.Rproj.user
.Rhistory
.RData
.venv/
.Ruserdata
thrash/
inst/doc
/doc/
/Meta/
man/
Meta/
NAMESPACE
vignettes/*.html
vignettes/*.pdf
*.tar.gz
*.tgz
*.zip
R/
README.md
README.html
docs/
quadro.html
quadro_files/
.idea/
